
        <h1>Lista de Clientes</h1>

                <table>
                        <tr>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>CPF/CNPJ</th>
                                <th>RG</th>
                                <th>Idade</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Tipo de Pessoa</th>
                                <th>Criado em:</th>
                        </tr>
                        <tr>
                                <td>{{ nome.nome }}</td>
                                <td>{{ nome.endereco }}</td>
                                <td>{{ nome.cpf_cnpj }}</td>
                                <td>{{ nome.rg }}</td>
                                <td>{{ nome.idade }}</td>
                                <td>{{ nome.email }}</td>
                                <td>{{ nome.telefone }}</td>
                                <td>{{ nome.tipo_pessoa }}</td>
                                <td>{{ nome.criado_em }}</td>
                        </tr>
                        <li>Sem itens na lista.</li>

                </table>
